@media(min-width:880px){

 


    #btn-sider{
        display: none;
    }
}

@media(max-width:410px){
    .bttn{
        display: none;
    }
    }



@media(max-width:880px) {
    .sider{
        display: none;
    }
    header #btn-sider{
        display: block;
        color: var(--w);
        cursor: pointer;
        font-size: 20px;
    }
    .ull{
        display: none !important;
    }
  

    aside{
        width: 200px;
        
        position: fixed;
        top: 70px;
        left: -260px;
        padding: 12px;
    }
    aside.show{
        left: 0;
    }
    aside nav a{
        width: 100%;
        display: block;
        background-color: var(--main);
        text-align: center;
        padding: 8px 20px;
        color: var(--w);
        text-decoration: none;
        font-size: 18px;
        margin-bottom: 10px;
        border-radius: 8px;
        transform: translate(-300px, -300px) rotate(45deg);
        transition: 0.3s;
    }
    aside nav a:active{
        transform: scale(0.9);
        transition: none;
    }

    aside.show nav a{
        transform: translate(0) rotate(0deg);
        transition-delay: var(--i);
    }
    .box-img{
        margin-left:0 !important;

     }
     .main-serv {
       
        padding: 90px 0px !important;
    }
    .footer1{
 
        min-height: 50vh;
        border-radius: 50px;
        background-image: url(../cart3.jpg);
        background-position: center;
        background-size: cover;
        opacity: 2;
        margin: 0 30px !important;
        padding: 20px;
        
    }
    .footer-end {
 
        padding: 50px 10px 5px 10px !important; 
       color: #ffff;
     }
     .copy{
       padding: 20px 30px 60px 30px !important;
       border-top: 1px solid #ffff;
     
     text-align: center;
     }

}



header{
    width: 100%;
    padding:20px  0;
    min-height: 66px;
    position: fixed;
    background-color: rgba(0,0,0,0.4);
z-index: 1;
margin-bottom: 0 !important;

    
}


header.show{
    background-color: var(--main);
}
header h3{
    color: #ffff;
    font-size:28px;
    
}
header ul{
    position: relative;
}
header ul li{
    position: relative;
    
    list-style: none;
    float: left;
}
header ul li a{
    color: #ffff;
    padding: 20px 25px ;
    text-decoration: none;
    font-size: 17px;
    
}
header ul li a:hover{
    color: var(--sub);
}
.header-navlogin{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header ul li ul{
position: absolute;
left:0;
width: 200px;
display: none;
background-color:var(--main);
}
header ul li:hover > ul{
    display: block;
}
header ul li ul li{
    position: relative;
    width: 100%;
    border: 1px  solid rgba(0,0,0,0.2);
    padding: 15px ;
    
}
header ul li ul li ul{
    
    top:0;
    left:200px;
    
}
.background-video{
    /* background: url(../images/vecteezy_ai-generated-3d-rendering-of-modern-cozy-house-with-pool-and_40567058.mp4); */
    /* background-image:url(../images/vecteezy_ai-generated-3d-rendering-of-modern-cozy-house-with-pool-and_40567058.mp4); */
    /* background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center !important; */
position: relative;
    z-index: -1;

}
.background-video video{
    width: 100%;
    height: 100%;
}

.container .artical{
   position: absolute;
  text-align: center;
   
    padding: 120px 0px 0 0;
    max-width: 800px;
    color: #ffff;
    
    }
    .container .artical h1{
        font-size: 48px;
        

    }
    .container .artical p{
padding: 25px 0 ;
line-height: 23px;

    }
    .se{
        padding: 8px 40px;
        background-color: var(--main);
        color: #ffff;
        border: 2px solid var(--main);
        outline: none;
        text-decoration: none;
        border-radius: 12px;
        cursor: pointer;
        user-select: none;
        text-align: center;
        font-size: 17px;  
        margin: 4px 0;
    }
    .ser{
        padding: 11px 35px;
        background-color: var(--main);
        color: #ffff;
        border: 2px solid #ffff;
        outline: none;
        text-decoration: none;
        border-radius: 12px;
        cursor: pointer;
        user-select: none;
        text-align: center;
        font-size: 15px;  
        margin: 30px 0;
    }
    .ser:hover{
        background-color: var(--sub);
        border: 2px solid var(--sub);
        border: 2px solid #ffff;
        
    }
    .bttn:hover{
        background-color: var(--sub);
        border: 2px solid var(--sub);
        
    }
    .arrow{
       min-width: 200px;
       padding-left: 150px;
       padding-top: 17px;
       padding-bottom: 17px;
    }
    /* .text-boxx{
        min-height: 30vh;
        background-color: #ebf0f6;
        margin-bottom: 0 !important;
        padding: 0 !important;
    } */
     .circl{
        min-height: 30vh;
        background-color: #ebf0f6;
        max-width: 800px;
        min-height: 100px;
margin-top: -100px;
padding:0px 20px   0 48px;
border-radius: 70px;

border: 2px solid #e7ecf1;
    }
    .circl-pharg {
margin-right:40px;
color: var(--main);
padding-top: 13px ;
padding-bottom: 13px;
    }
    .circl-pharg p{
        padding-top:12px;
        font-size: 17px;
    }
    .circl-pharg h3{
font-size: 25px;
    }
    .Explore{
        outline: none;
        border: none;
        background-color:var(--main);
        font-size: 18px;
padding:20px 30px;
padding-right: 40px;
color: #ffff;
border-radius: 0 45px 45px 0; 

    }
/* <_____________________________________________________________________> */
main{
    padding: 70px 0 90px 0;
    background-color:#e7ecf1;
margin: 0 !important;
    }
    main .cent h1{
        text-align: center;
        font-size: 40px;
        font-weight: 550;
    
    }
    main .cent h4{
        
       padding: 10px;
        font-size: 16px;
        text-align: center;
        color: var(--sub);
        font-weight: 550;
    }
    main .cent{
        margin-bottom: 50px;
        text-align: center;
    }
.card-container {
   
    gap: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-wrap: wrap !important;
    background-color: #f0f0f0;
  }
.card-content p a{
    text-decoration: none;
    color: rgb(25, 6, 134);
    border-bottom: 1px solid var(--main);
    font-size: 13px;
    font-weight: 550;
}
.card-content p a:hover{
    
    color: var(--sub);
    border-bottom: 1px solid var(--sub);
}
  .ccard{
    position: relative;
    width: 300px;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.3s ease;
  }

  .ccard img {
    width: 300px;
    height: 400px;
    object-fit: cover;
    transition: transform 0.5s ease;
  }

  .ccard:hover img {
    transform: scale(1.1);
  }

  .card-content {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    height: 50px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.4s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .ccard:hover .card-content {
    bottom: 0;
    left: 0;
    right: 0;
    height:70px;
    border-radius: 0;
    padding: 0px 20px 20px 20px;
  }

  .card-content h3 {
    font-size: 17px;
    color: rgb(11, 20, 101);
padding-top: 23px;
  }

  .card-content p {
    font-size: 14px;
    margin: 5px 0 0;
    color: rgb(25, 6, 134);

    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .ccard:hover .card-content p {
    opacity: 1;
  }

     /* <___________________________________________________________________> */
     section{
        min-height: 85vh;
        background-color:#ebf0f6;
        padding: 100px 0;
        font-family:main;
    
    }
    
    @font-face{
        font-family:main;
        src: url(JosefinSans-Italic-VariableFont_wght.ttf);
    }
     
     .about img{
        width: 630px;
        height: 600px;
        border-radius: 50px;
     }
     .about{
        display: flex;
        align-items: start;
        justify-content:center;
        flex-wrap: wrap;
     }
     .about-asid{
max-width: 680px;
padding-left: 50px;
     }
     .about-asid h4{
        font-size: 18px;
     }

     .about-asid h1{
        font-size: 34px;
        padding-top: 12px;
        padding-bottom: 12px;
     }
     .boxz h3 i{
        color: var(--sub);
        background-color:#ffff;
        padding: 13px;
        border-radius: 50%;
        margin-top: 27px;
        font-size: 22px;
     }
     .box-aside{
   margin-top: 25px;
   padding: 0 20px;
     }
     .box-img img{
        width: 120px;
        height: 120px;
        border-radius: 15px;
        margin-top: 95px;
        margin-right: 25px;
     }
     .box-img{
        margin-left: -118px;

     }
     .box-img .begin{
padding: 10px;
background-color:#ebf0f6;
width: 140px ;
height: 140px;
border-radius: 25px;
     }
     .box-img .end{
        margin-top: 105px;
     }
    /* <_________________________________________________________> */
    .main-box img{
        width: 65px;
        height: 65px;
padding: 10px;
background-color: #ebf0f6;
margin-top: 5px;
border-radius: 5px;
    }
    .main-box{
   max-width:390px;
    padding: 23px;
    border-radius: 30px;
    
    }
    .main1{
        gap: 50px;
    }
    main{
       min-height: 77vh; 
       margin-top: 130px;
     
    }
    .main0{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
 
    .main0 H1{
        
        padding: 20px 0  50px 0;
margin-bottom: 30px;
 max-width:600PX;
 font-size: 35px;
        
    }
    .main-box h1{
        color: rgb(219, 227, 235);
        margin-top: -6px;
        padding-right: 7px;
    }
    .main-box  p{
        font-size: 16px;
    }
    .main-box h2{

    }
    .box {
        
        
        opacity: 0;
        transform: scale(0.8);
        transition: opacity 0.5s ease, transform 0.5s ease;
      }
  
      .box.show {
        opacity: 1;
        transform: scale(1);
      }

      .boxz{
        
        
        opacity: 0;
        transform: scale(0.8);
        transition: opacity 0.5s ease, transform 0.5s ease;
      }
  
      .boxz.show {
        opacity: 1;
        transform: scale(1);
      }
    /* <_________________________________________________________________> */
    .main2{
        min-height: 90vh;
        margin-top: 0;
        background-color: #ebf0f6;
        padding: 65px 0 2px 0;
    }
    .cards-container{
        
        display: none;
      }
  
      .cards-container.active {
        display: flex;
      }
    .main2 h1{
        padding: 6px 0 20px 0;

    }
    .main2-click  p{
font-size: 18px;
    }
    .main2-click img{
width: 40px;
height: 40px;
border-radius: 8px;
margin-right:6px;

    }
    .main2-click{
        padding: 9px 8px;
        border-radius: 20px;
        margin: 10px;
        width: 165px;

    }
.main2-click{
    background-color: #ffff !important;
}
.main2-click.active{
    background-color: var(--sub) !important;
    color: #ffff;
}
   
    .main2-card{
        width: 340px;
        margin-top: 60px;
        margin-bottom: 60px;
        background-color:#ffff;
        border-radius: 30px;
        
    }
    .main2-card img{
        padding: 10px;
        width: 340px;
        height: 320px;
        border-radius: 28px;
    }
    .main2-card .txt{
        padding: 0 15px 15px 15px;
    }
    .main2-card .txt p{
font-size: 15px;
padding: 10px 0;
margin-top:4px ;

    }
    .main2-card .txt a:hover{
        color: var(--sub);
        border-bottom: 1px solid var(--sub);

    }
   
    .main2-card .txt a{
        text-decoration: none;
        border-bottom: 1px solid;
        border-color: black;
        color: black;
        font-size:15px ;
        font-weight: 550;

    }
    .main2-card .txt .heart{
        padding: 0 11px;
    }
    .main2-card .txt .heart i{
        background-color: var(--sub);
        padding: 9px;
        border-radius: 50%;
        font-size: 14px;
        margin: 5px 0;
        color: #ffff;
        line-height: 12px;
    }

    .pagination h2{
        padding: 8px 16px;
        color: var(--main);
        margin: 8px;
        border: 2px solid var(--main);
        font-size: 21px;
    }
    .pagination h2:hover{
        background-color: var(--main);
        color: #ffff;
    }
    .pagination h3:hover{
        background-color: var(--main);
        color: #ffff;
    }
    .pagination h3{
        padding: 11px 15px;
       
        color: var(--main);
        margin: 8px;
        border: 2px solid var(--main);
        
        font-size: 16px;
    
    }
    .pagination{
        margin-bottom: 70px;
        margin-top: 50px;
    }
.main2 .hard{
    display: none;
}
.main2.show{
display: block;
}







    /* <_________________________________________________________________________> */
.main-serv {
    min-height: 90vh;
    display: flex;
    align-items: start;
    justify-content:space-evenly;
    flex-wrap: wrap;
    background-color: #e7ecf1;
    padding: 90px;
}
.main-serv img{
width: 620px;
height: 580px;

}
.main-serv .background{
   margin-right: 50px;
}
.main-serv-asid {
max-width: 600px;
padding-top: 50px;
margin-left: 30px;
}
.main-serv-asid h1{
    font-size: 47px;
    padding: 25px 0 ;
}
.main-serv-asid p{
line-height: 45px;
}
.main-serv-asid i{
font-size: 25px;
padding-right: 15px;
color: var(--main);
font-weight: 650;
}
/* <_____________________________________________________________________> */
footer{
padding-top: 75px;
padding-bottom: 50px;
    min-height: 65vh;
    color: #ffff;
    background-color: #ebf0f6;
    font-family:main;
    
}

@font-face{
    font-family:main;
    src: url(JosefinSans-Italic-VariableFont_wght.ttf);
}

.footer1{
 
    min-height: 45vh;
    border-radius: 50px;
    background-image: url(../new13.jpg);
    background-position: center;
    background-size: cover;
    opacity: 2;
    margin: 0 130px;
}
.footer1 .text{
    max-width:500px ;
    padding-bottom: 30px;
}
.footer1 .text h1{
    font-size: 52px;
}
.footer1 .text2{
   width:390px ;
    padding: 14px;
    border-radius: 50px;
    
}
.footer1 .text2 p{
    color: rgb(66, 64, 64);
}
.footer1 .text2 button{
   max-width: 140px;
    padding: 7px 10px; 
    border-radius: 20px;
    font-size: 17px;
    margin-left: 10px;
    
}
.footer1 .text2 button i{
    padding-left: 5px;
    font-size:15px ;
    
}

/* <_________________> */
.footer-end  p{
    max-width: 330px;
}
.footer-end{
    min-height: 58vh;
    display: flex;
    align-items:start;
    justify-content:space-around;
    flex-wrap: wrap;
    padding: 80px 50px 0 50px;
    color:#ffff;
}
.footer-end  .begin{
    display: flex;
    align-items:center;
    justify-content:start;
}
.footer-end  .begin i{
    font-size:45px;
    padding-right: 20px;
}
.footer-end  .vert1 .p2{
    padding: 20px 0;
}
.footer-end  .vert1 .p3{
    line-height: 35px;
}
.footer-end  .vert1 .p3 i{
    font-size: 18px;
    padding-right: 10px;
}
.footer-end .vert3 h2{
    border-bottom: 3px solid #ffff;
    padding-bottom: 20px;
}
.footer-end .vert2 h2{
    border-bottom: 3px solid #ffff;
    padding-bottom: 20px;
}
.footer-end .vert4 h2{
    border-bottom: 3px solid #ffff;
    padding-bottom: 20px;
    width: 130px;
}
.footer-end .vert2 p a:hover{
    color:var(--sub);
}
.footer-end .vert2 p a{
    color: #ffff;
    text-decoration: none;
}
.footer-end .vert2 p {
    
    padding-top:25px ;
}
.footer-end .vert3 p {
    
    padding-top:25px ;
}
.footer-end .vert4 p{
    padding: 25px 0;
}
.footer-btn{
    display: flex;
    align-items: center;
    justify-content:start;
    width: 300px;
}
.footer-btn1{
    background-color: #ffff;
    outline: none;
    border: none;
    padding: 11px 20px;
    width: 220px;
}
.footer-btn2{
    background-color:var(--sub);
    outline: none;
    border: none;
    padding: 11px 20px;
}
.copy{
    padding: 20px 152px 70px 100px;
    border-top: 1px solid #ffff;

text-align: center;
}
.copy .icon i{
    padding: 6px;
    background-color: #ffff;
    color: var(--sub);
    font-size: 18px;
    margin-left: 9px;
    
}
/* <________________________________________________________________> / */

.evre-chat{

   min-height: 100vh;
}
.evre-chat h1{
    font-size: 40px;
    padding: 30px;
    margin-bottom: 50px;
    text-transform: capitalize;
    
}
.property-info{
    position: relative;
    top:-80px;
    left: 0px;
    width: 100%;


    color:var(--sub);
    text-align: left;
   display: none;
    
    text-align: center;
   
  }
.carousel-slide:hover .property-info{
display: block;
z-index: 9999;
}
    
.carousel-slide{
    
}

.chat{
   
   
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  
  .carousel {
    position: relative;
    width: 100%;
    max-width: 1400px;
    overflow: hidden;
  }
  
  .carousel-track-container {
    overflow: hidden;
    width: 100%;
  }
  
  .carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .carousel-slide {
    min-width:275px; /* 100% / 5 = 20%, لإظهار 5 صور */
    box-sizing: border-box;
   margin:15px ;
}

.carousel-slide img {
      border-radius: 30px;
   max-width:100%;
    display: block;
    height: 500px;
    opacity: 0.9;
    transition: transform 0.3s ease-in-out;
  
  }
  .carousel-slide img:hover,
  .carousel-slide img:focus{
    opacity: 1;
  }
  
  .carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 10;
    font-size: 18px;
  }
  
  #prev {
    left: 10px;
  }
  
  #next {
    right: 10px;
  }

 .carousel-slide:hover img,
 .carousel-slide.current-slide img{
    transform: scale(1.05);

 }


