@media(min-width:880px){

 


    #btn-sider{
        display: none;
    }
}

@media(max-width:380px){
    .bttn{
        display: none;
    }
    }



@media(max-width:880px) {
    .sider{
        display: none;
    }
    header #btn-sider{
        display: block;
        color: var(--w);
        cursor: pointer;
        font-size: 20px;
    }
    .ull{
        display: none !important;
    }
  

    aside{
        width: 200px;
        
        position: fixed;
        top: 70px;
        left: -260px;
        padding: 12px;
    }
    aside.show{
        left: 0;
    }
    aside nav a{
        width: 100%;
        display: block;
        background-color: var(--main);
        text-align: center;
        padding: 8px 20px;
        color: var(--w);
        text-decoration: none;
        font-size: 18px;
        margin-bottom: 10px;
        border-radius: 8px;
        transform: translate(-300px, -300px) rotate(45deg);
        transition: 0.3s;
    }
    aside nav a:active{
        transform: scale(0.9);
        transition: none;
    }

    aside.show nav a{
        transform: translate(0) rotate(0deg);
        transition-delay: var(--i);
    }
    .box-img{
        margin-left:0 !important;

     }
     .main-serv {
       
        padding: 90px 0px !important;
    }
    .footer1{
 
        min-height: 50vh;
        border-radius: 50px;
        background-image: url(../cart3.jpg);
        background-position: center;
        background-size: cover;
        opacity: 2;
        margin: 0 30px !important;
        padding: 20px;
        
    }
    .card-bad {
        padding-left: 0px !important;
    }
    .containe {
        
        padding: 75px 20px !important;
    }
    main .table {
        margin: 100px 0px 50px 0px !important;
       
    }
    .footer-end {
 
        padding: 50px 10px 30px 10px !important; 
       color: #ffff;
     }
     .copy{
       padding: 20px 30px 60px 30px !important;
       border-top: 1px solid #ffff;
     
     text-align: center;
     }

}




.boxz{
        
        
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }

  .boxz.show {
    opacity: 1;
    transform: scale(1);
  }

header{
    width: 100%;
    padding:20px  0;
    min-height: 66px;
    position: fixed;
    background-color:var(--main);
z-index: 99999;
}
header ul li a:hover{
    color: var(--sub);
  }
header.show{
    background-color: var(--main);
}
header h3{
    color: #ffff;
    font-size:28px;
    
}
header ul{
    position: relative;
}
header ul li{
    position: relative;
    list-style: none;
    float: left;
}
header ul li a{
    color: #ffff;
    padding: 20px 25px ;
    text-decoration: none;
    font-size: 17px;
}

.header-navlogin{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header ul li ul{
position: absolute;
left:0;
width: 200px;
display: none;
background-color:var(--main);
}
header ul li:hover > ul{
    display: block;
}
header ul li ul li{
    position: relative;
    width: 100%;
    border: 1px  solid rgba(0,0,0,0.2);
    padding: 15px ;
    
}
header ul li ul li ul{
    
    top:0;
    left:200px;
    
}
.containner {
    background-image: url(../cart5.jpg);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
}
.home-container{
    display: flex;
    align-items: start;
    justify-content: center;
    padding-top: 250px;
    
}
.home-container .artical{
    max-width: 700px;
}
.home-container .artical h1{
    text-align: center;
    max-width: 700px;
    color: #ffff ;
    font-size: 58px !important;
    padding-bottom: 40px;
    line-height: 80px;
}

.btttn{
    min-width: 140px;
    padding: 6px 21px;
    background-color: var(--main);
    color: #ffff;
    border: 2px solid #ffff;
    outline: none;
    text-decoration: none;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
    text-align: center;
    font-size: 17px;
    
}
.btttn:hover{
    background-color: var(--sub);
    border: 2px solid #ffff;
}
.bttn:hover{
    background-color: var(--sub);
    border: 2px solid var(--sub);
    
}
.btn{
    margin: 5px 7px;
}
/* <_______________________________________________________________> */
main .cart1 img{
    width:75px;
    height: 75px;

}
main{
    min-height: 70vh;
    background-color: #e0e7ed;
    padding-bottom: 20px;
}
main .cart1{
    width: 380px;
    height: 290px;
    /* background-color: antiquewhite; */
    text-align: center;
    padding-top: 40px;
}
.cart1 .link{
    text-decoration: none;
    font-weight: 640;
padding-bottom: 4px;
    border-bottom: 2px solid  var(--main);
    color: var(--main);
}
.cart1 .link:hover{
    color: var(--sub);
    border-bottom: 2px solid var(--sub);

}
.link-awsm {
    font-size: 14px;
    margin-bottom: -6px;
}
main .cart1 p{
    padding: 0 30px;
}
main .cart1 h3 a{
    color: #000;
    
    text-decoration: none;
    font-size: 23px;
    font-weight: 700;
}
main .cart1 h3{
    margin-top: 10px;
    padding: 8px 0;
}
/* <_________________________________________________________________________________________________> */
section{
    min-height: 100vh;
    width: 100%;
background-color: #ebf0f6;
padding: 50px 0;
}
section .categoei{
padding-top: 50px;
padding-bottom: 50px;
}
section .categoei h2{
    padding: 0 60px;
    color: var(--main);
}
section .categoei p{
border-bottom: 5px solid #eae5e5;
padding-bottom: 10px;
width: 220px;
font-size: 17px;
text-align: center;
}
section .categoei p.active{
border-bottom: 5px solid var(--main);
transition: 0.5s;
}
.card {
    width:340px ;
    height: 400px;
    padding: 10px;
    position: relative;
    display: inline-block;
    
}
.card::after{
    content: attr(data-discount);
    position: absolute;
    color:#ffff;
    left: 30px;
top: 260px;
background-color: var(--sub);
padding: 3px 12px;
font-size: 15px;
font-weight: 600;
}



.icon i{
    margin: 8px 0;
   background-color:rgba(0,0,0,0.2);
   color:#fff;
   border-radius: 50%;
   padding:7px 9px;
   line-height: 18px;
   font-size: 15px;
  }
  .icon{
      position: absolute;
      top: 22%;
      left: 88%;
      transform: translate(-50%,-50%);
      display: none;
      font-size:19px;
   
  }
  .card:hover .icon{
      display: block;
  }


.card p{
    margin: 0 !important;
}
.card h5{
    margin: 0px !important;
}
.card img{
    width: 320px;
    height: 300px;
}
.card .card-img img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
   
}
.card-reveiw{
    padding-top: 15px;
    
}
.card-reveiw h5{
    font-size: 16px;
    font-weight: 900;
   padding-right: 8px;
}
.card-reveiw2{

}
.card-bad{
    padding-left: 30px;
}
.card-reveiw2 p{
    font-weight: 600;
   
} 
.card-reveiw .buton{
    background-color: var(--main);
    color: #ffff;
    margin-bottom: 0px !important;
    padding: 3px 8px;
border-radius: 3px;
   
}
.card h4{
    padding: 13px 0;
    font-weight: 650;
    font-size: 20px;
}
.icon-card{
    border: 1px solid #eae5e5;
    padding:8px 0px ;
    margin: 6px 0;
}
.card .icon-card p{
    font-size: 14px;
    color:var(--main);
    font-weight: 600;
   
}
.card .icon-card  .bat{
   padding-right: 10px;
   font-size: 18px;
}
.card-img p{
    font-size: 14px;
    font-weight: 500;
}
.card-img{
    padding-top: 20px;
    padding-bottom: 10px;
}
.card-img .pp{
    padding-left: 15px;
    font-size: 14px;
    font-weight: 500;
}
.paddin{
    padding: 0 10px;
}


.pagination h2{
    padding: 8px 16px;
    color: var(--main);
    margin: 8px;
    border: 2px solid var(--main);
    font-size: 21px;
}
.pagination h2:hover{
    background-color: var(--main);
    color: #ffff;
}
.pagination h3:hover{
    background-color: var(--main);
    color: #ffff;
}
.pagination h3{
    padding: 11px 15px;
   
    color: var(--main);
    margin: 8px;
    border: 2px solid var(--main);
    
    font-size: 16px;

}
.pagination{
    margin-bottom: 0px;
    margin-top: 50px;
}

.cards-container {
    margin-top: 20px;
    display: none;
  }

  .cards-container.active {
    display: flex;
    
  }
/* <__________________________________________________________________> */
.luxury-apart h1{
font-size: 43px ;
font-weight: 650;

}
.luxury{
    background-color: #e0e7ed;
}

.luxury-apart p{
    max-width: 360px;
    font-size: 14px;
}
.txt h2{
    font-size: 25px !important;
}
.containe{
    margin: 0 !important;
    padding: 75px 100px ;
}
.txt-b{
    margin: 0 !important;
}
.main2-card{
    width: 340px;
    margin-top: 60px;
    margin-bottom: 60px;
    background-color: #fff;
    border-radius: 30px;
}
.main2-card img{
    padding: 10px;
    width: 340px;
    height: 320px;
    border-radius: 30px;
}
.main2-card .txt{
    padding: 0 15px 10px 15px;
}

.main2-card .txt a:hover{
    color: var(--sub);
    border-bottom: 1px solid var(--sub);

}
.main2-card .txt a{
    text-decoration: none;
    border-bottom: 1px solid;
    border-color: black;
    color: black;
    font-size:15px ;
    font-weight: 550;

}
.main2-card .txt .heart{
    padding: 0 11px;
}
.main2-card .txt .heart i{
    background-color: var(--sub);
    padding: 9px;
    border-radius: 50%;
    font-size: 14px;
    margin: 5px 0;
    color: #ffff;
    line-height: 12px;
}
.bttn{
    min-width: 140px;
    padding: 7px 21px;
    background-color: var(--main);
    color: #ffff;
    border: 2px solid #ffff;
    outline: none;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    text-align: center;
    font-size: 17px;
}
.bttn:hover{
    background-color: var(--sub);
}


/* <___________________________________________________________> */
.fotter{
    padding:66px 0 0 0;
        min-height: 63vh;
        color: #ffff;
background-color: #ebf0f6;
padding-bottom: 50px;

    }
    .footer1{
     
        min-height: 45vh;
        border-radius: 50px;
        background-image: url(../new13.jpg);

        background-position: center;
        background-size: cover;
        opacity: 2;
        margin: 0 130px;
    }
    .footer1 .text{
        max-width:500px ;
    }
    .footer1 .text h1{
        font-size: 52px;
    }
    .footer1 .text2{
       width:390px ;
        padding: 14px;
        border-radius: 50px;
        
    }
    .footer1 .text2 p{
        color: rgb(66, 64, 64);
    }
    .footer1 .text2 button{
       max-width: 140px;
        padding: 7px 10px; 
        border-radius: 20px;
        font-size: 17px;
        margin-left: 10px;
    }
    .footer1 .text2 button i{
        padding-left: 5px;
        font-size:15px ;
    }
    
    /* <_________________> */
    .footerr-end  p{
        max-width: 330px;
    }
    .footerr-end{
      
        display: flex;
        align-items:start;
        justify-content:space-around;
        flex-wrap: wrap;
        padding: 50px 50px 40px 50px;
        color:#ffff;
    }
    .footerr-end  .begin{
        display: flex;
        align-items:center;
        justify-content:start;
    }
    .footerr-end  .begin i{
        font-size:40px;
        padding-right: 20px;
    }
    .footerr-end  .vert1 .p2{
        padding: 18px 0;
    }
    .footerr-end  .vert1 .p3{
        line-height: 25px;
    }
    .footerr-end  .vert1 .p3 i{
        font-size: 16px;
        padding-right: 10px;
    }
   
    .footerr-end .vert2 p a:hover{
        color: var(--sub);
        
    }
    .footerr-end .vert3 h2{
        border-bottom: 3px solid #ffff;
        padding-bottom: 15px;
    }
    .footerr-end .vert2 h2{
        border-bottom: 3px solid #ffff;
        padding-bottom: 15px;
    }
    .footerr-end .vert4 h2{
        border-bottom: 3px solid #ffff;
        padding-bottom: 15px;
        width: 130px;
    }
    .footerr-end .vert2 p a{
        color: #ffff;
        text-decoration: none;
    }
    .footerr-end .vert2 p {
        
        padding-top:10px ;
    }
    .footerr-end .vert3 p {
        
        padding-top:10px ;
    }
    .footerr-end .vert4 p{
        padding: 10px 0;
    }
    .footer-btn{
        display: flex;
        align-items: center;
        justify-content:start;
        width: 300px;
    }
    .footer-btn1{
        background-color: #ffff;
        outline: none;
        border: none;
        padding: 11px 20px;
        width: 220px;
    }
    .footer-btn2{
        background-color:var(--sub);
        outline: none;
        border: none;
        padding: 11px 20px;
    }
    .copy{
        padding: 20px 152px 70px 75px;
        border-top: 1px solid #ffff;
    
    text-align: center;
    }
    .copy .iconn i{
        padding: 6px;
        background-color: #ffff;
        color: var(--sub);
        font-size: 18px;
        margin-left: 9px;
        
    }